<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <table>
      <tr>
        <td><b>Tweet text</b></td>
        <td><b>Date</b></td>
        <td><b>Author</b></td>
        {% if debug %}
        <td><b>Num Entities</b></td>
        <td><b>2 or more</b></td>
        <td><b>Integer Entities</b></td>
        <td><b>Json</b></td>
        {% endif %}
      </tr>
      {% for tweet, date in tweets_and_dates %}
      <tr>
      <td>{{ tweet.text }}</td>
      <td>{{ date.strftime('%c')}}</td>
      <td>{{ tweet.author_screen_name }}</td>
      {% if debug %}
      <td>{{ tweet.num_entities }}</td>
      <td>{{ tweet.two_or_more_integers }}</td>
      <td>{{ tweet.entities.integers }}</td>
      <td>{{ tweet.original_json }}</td>
      {% endif %}
      </tr>
    {% endfor %}
    </table>

  </body>
</html>
{% endautoescape %}
